<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <title>KSI Collision Fatality Predictor</title>
  <link rel="preconnect" href="https://unpkg.com" />
  <link rel="stylesheet" href="{{ url_for('static', filename='css/styles.css') }}" />
</head>
<body>
  <div id="root"></div>
  <script>
    window.APP_CONFIG = {{ initial_config | tojson }};
  </script>
  <script crossorigin src="https://unpkg.com/react@18/umd/react.development.js"></script>
  <script crossorigin src="https://unpkg.com/react-dom@18/umd/react-dom.development.js"></script>
  <script src="https://unpkg.com/@babel/standalone/babel.min.js"></script>
  <script type="text/babel" src="{{ url_for('static', filename='js/app.jsx') }}"></script>
</body>
</html>
